.heading-h1 {
  font-family: $font-primary;
  font-size: 7rem;
  font-weight: 700;
  line-height: 8.4rem;
  letter-spacing: 0.036rem;
  font-style: normal;

  @media only screen and (max-width: $bp-xs) {
    font-size: 5.4rem;
    line-height: 6.4rem;
  }
}

.heading-2 {
  font-family: $font-primary;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5.6rem;
  letter-spacing: 0.036rem;
}

.heading-2--white {
  color: $color-white;
  font-family: $font-primary;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5.6rem;
  letter-spacing: 0.036rem;
}

.heading-4--green {
  font-family: $font-secondary;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 400;
  color: $color-primary;
  line-height: 6.4rem;
  letter-spacing: 0.036rem;
  text-transform: capitalize;
}

.heading-4--white {
  font-family: $font-secondary;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 400;
  color: $color-white;
  line-height: 6.4rem;
  letter-spacing: 0.036rem;
  text-transform: capitalize;
}

.heading-5 {
  font-family: $font-primary;
  font-size: 2.4rem;
  font-style: none;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 0.036rem;
}

//Helper Clases

.mb-sm {
  margin-bottom: 1.2rem;
}
